*{
    border: 0;
    margin: 0;
    padding: 0;

    }
    header #encabezado{
        height: 100px;
        background-color: black;
        box-shadow: 0px 10px 40px 40px black;
    }
    nav{
        opacity: 0;
    }
    body{
        background-color: black;
        text-align: center;
        background-image: url(img/space.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    footer{
        display: block;
        width: 300px;
        margin: auto;
        padding: 10%;
        border: solid 1px rgb(255, 255, 255);
        border-radius: 13px 23% 5px 23%;
        background-color:rgb(0, 0, 0);
        color: azure;
        font-size:larger;
        box-shadow: 20px 20px 50px 15px rgb(0, 0, 0);
        transition: width 2s, height 2s, transform 1s;
    }

    footer a{
        opacity: 0;
        
    }
    footer:hover{
        transform: rotate(360deg);
        border: solid 1px brown;
        background-color: rgba(0, 0, 0, 0.93);
        border-radius: 23% 13px 23% 5px;

    }
    footer:hover a{
        opacity: 1;

    }
