*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
html{
    height: 100%;
    position:relative;
}
/***************VARIABLES*****************/
:root{
    --negro: #0A0d05;
    --azul: #201226; 
    --verde: #d8f2dc;
    --amarillo: #d9ae79;
    --rojo: #a62f03;
}
/******************BODY********************/
body{
    margin: 0;
    background-color: var(--negro);
    text-align: center;
    background-image: url(img/space.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}
/******************HEADER********************/
header #encabezado{
        height: 100px;
        background-color: var(--negro);
        box-shadow: 0px 10px 40px 40px var(--negro);
}    
/******************NAV********************/
.tablink {
    border: none;
    outline: none;
    cursor: pointer;
  }

  .tablink:hover {
  }
  .tabcontent {
    color: var(--verde);
    display: none;
    padding: 10px;
    text-align: center ;
    border: solid 1px var(--negro);
    border-radius: 13px 23px 5px 23px;
    box-sizing: border-box;
    width: 90%;
    }  
    .imginside{
      width: 150px;
      height: 150px;
      padding: 5px;
      display:inline-flex;

      
    }
nav{
        
}
#mySidenav a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: var(--verde);
    border-radius: 0 5px 5px 0;
  }  
  #mySidenav a:hover {
    left: 0;
    box-shadow: 20px 20px 50px 15px var(--negro); 
    background: linear-gradient(top, var(--verde), transparent, var(--verde));
    background: -webkit-linear-gradient(top, transparent, transparent, transparent);

  }  
  #mySidenav ul li .Homenav:hover{
    color: var(--verde);

  }
  #mySidenav ul li .Homenav:visited{
    color: var(--amarillo);

  }
  #mySidenav ul li .Homenav:link{
    color: var(--negro);

  }


  .Home {
    top: 20px;
    background-color: var(--verde);
  }  
  #mySidenav ul li .Home{
    color: var(--negro);
  }
  #Home{
    color: var(--negro);
  }
  .About {
    top: 80px;
    background-color: var(--amarillo);
  }  
  .Blog {
    top: 140px;
    background-color: var(--rojo);
  }  
  .Projects {
    top: 200px;
    background-color: var(--azul);
  }  
  .Contact {
    top: 260px;
    background-color: var(--negro);
  }

  section{
    display: inline-block;
    height: auto;
    width: auto;
    margin-left: 10%;
    align-items: center;
  }
/******************FOOTER********************/
footer{
    clear: both;
    display: block;
    position: absolute;
    width: 200px;
    bottom: 2px;
    padding: 13px;
    border: solid 1px var(--verde);
    border-radius: 13px 23% 5px 23%;
    background-color:var(--negro);
    color: var(--verde);
    font-size:larger;
    box-shadow: 20px 20px 50px 15px var(--negro);
    transition: width 2s, height 2s, transform 1s;
}
    footer a{
        opacity: 0;
        text-decoration: none;
        text-decoration-line: none;
        text-decoration-color: var(--amarillo);
        
    }
    footer:hover{
        transform: rotate(360deg);
        border: solid 1px var(--rojo);
        background-color: var(--azul);
        border-radius: 23% 13px 23% 5px;

    }
    footer:hover a{
        opacity: 1;
        text-decoration: none;
        text-decoration-line: none;
        color: var(--amarillo);
    }
    mark{
        background-color: var(--amarillo);
        color: var(--azul);
        border-radius: 3px;
        padding: 1px;
    }
